.controls {
    position: relative;
    height: 100%;
}

.controls__button-container  {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    width: 400px;
}

.controls__button-container div {
    flex: 1;
}

.controls__button {
    background-color: #aaaaaa;
    margin: 20px;
    padding: 10px;
    border-radius: 25px;
    cursor: pointer;
}